---
layout: default
title: Norwich and District Angler's Association | Norwich, Norfolk, UK
keywords: norwich, norfolk, fishing club, angling club, coarse fishing, river fishing, match fishing, NDAA, norwich & district anglers, norwich and district angling, norwich & district, norfolk broads, norfolk broads fishing, broads fishing
---
<article>
    <div class="google-map">
        <iframe src="https://www.google.com/maps/d/embed?mid=1N04pqmdipNHhXajfvfAdy_cm8CpH14ZE"></iframe>
    </div>
</article>
    

<article id="Membership">
    <section>
        <h1>Membership</h1>
        {{ site.data.membership.intro-desc | markdownify }}
    </section>
    <section>
        <h2>Fee</h2>
        <div class="alert alert--danger">
            <div class="mdi-alert md-insert">
                {% for msg in site.data.membership.alert-messages %}
                    {% case msg.alert-type %}
                    {% when "warning" %}
                    <div><span><i class="indicator fas fa-exclamation-circle"></i>{{ msg.alert-msg | markdownify }}</span></div>
                    {% when "info" %}
                    <div><span><i class="indicator fas fa-info-circle"></i>{{ msg.alert-msg | markdownify }}</span></div>
                    {% endcase %}
                {% endfor %}
            </div>
        </div>

        <div class="md-insert">
            {% for opt in site.data.membership.options %}
            {{ opt.option-desc | markdownify }}
            {% endfor %}
        </div>

    </section>
    <section>
        <h2>Stockists</h2>
        <div class="col-layout">
            {% for stockist in site.data.stockists.stockists %}
            <div class="stockist">
                <div class="stockist__name">
                    <p><span>{{ stockist.name }}</span></p>
                </div>
                <div class="stockist__address">
                    <p><span>{{ stockist.addr-1 }}</span>
                        <br><span>{{ stockist.addr-2 }}</span>
                        {% if stockist.addr-3 != null %}
                        <br><span>{{ stockist.addr-3 }}</span>
                        {% endif %}
                        {% if stockist.addr-4 != null %}
                        <br><span>{{ stockist.addr-4 }}</span>
                        {% endif %}
                        <br><span>{{ stockist.postcode }}</span>
                        {% if stockist.addr-3 == null %}
                        <br><span>&nbsp;</span>
                        {% endif %}
                        {% if stockist.addr-4 == null %}
                        <br><span>&nbsp</span>
                        {% endif %}</p>
                </div>
                <div class="stockist__url">
                    {% case stockist.url-type %}
                    {% when "web" %}
                    <a class="btn btn--sm btn--info" href="{{ stockist.url }}" role="button"
                        alt="{{ stockist.name}} website"><i class="fas fa-arrow-circle-right"></i> Website</a>
                    {% when "fb" %}
                    <a class="btn btn--sm btn--info" href="{{ stockist.url }}" role="button"
                        alt="{{ stockist.name}} facebook"><i class="fas fa-arrow-circle-right"></i> Facebook</a>
                    {% endcase %}
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

</article>