---
layout: default
title: Norwich and District Angler's Association | Norwich, Norfolk, UK
keywords: norwich, norfolk, fishing club, angling club, coarse fishing, river fishing, match fishing, NDAA, norwich & district anglers, norwich and district angling, norwich & district, norfolk broads, norfolk broads fishing, broads fishing
og-url: /index.html
og-type: website
og-title: Norwich and District Angler's Association 
og-desc: Providing great fishing on the Norfolk Broads since 1960
og-img: home-fb-img.png
---

{% include cover.html %}

<main class="wrapper wrapper--padding">

<article>
    <section id="Association">
        <div class="section-hdr">
            <h2>Introduction</h2>
        </div>
        <div class="md-insert">
            {{ site.data.association.intro-desc | markdownify }}
        </div>
        {% if site.data.association.alert-msg-ind == true %}
        <div class="alert {% if site.data.association.alert-type != nil %}alert--{{ site.data.association.alert-type }} {% else %}alert--danger{% endif %} alert--flex">
            {% for msg in site.data.association.alert-messages %}
            <div>
                <span class="vt-middle">
                    {% case msg.alert-type %}
                    {% when "warning" %}
                        <i class="indicator fas fa-exclamation-circle"></i>
                    {% when "info" %}
                        <i class="indicator fas fa-info-circle"></i>
                    {% endcase %}
                    {{ msg.alert-msg | markdownify }}
                </span>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </section>
    <section id="Membership">
        <div class="section-hdr">
            <h2>Membership</h2>
        </div>
        <div class="md-insert">
            {{ site.data.membership.intro-desc | markdownify }}
        </div>

        {% if site.data.membership.alert-msg-ind == true %}
        <div class="alert alert--danger alert--flex">
            {% for msg in site.data.membership.alert-messages %}
            <div>
                <span class="vt-middle">
                    {% case msg.alert-type %}
                    {% when "warning" %}
                        <i class="indicator fas fa-exclamation-circle"></i>
                    {% when "info" %}
                        <i class="indicator fas fa-info-circle"></i>
                    {% endcase %}
                    {{ msg.alert-msg | markdownify }}
                </span>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="md-insert">
            {% for opt in site.data.membership.options %}
            {{ opt.option-desc | markdownify }}
            {% endfor %}
        </div>

    </section>
    <section id="Stockists">
        <div class="section-hdr section-hdr--col-gap-fix">
            <h3>Stockists</h3>
            <p>Membership Cards are available from the stockists listed below.</p>
        </div>
        <div class="col-layout">
            {% for stockist in site.data.stockists.stockists %}
            <div class="stockist">
                <div class="stockist__name">
                    <p><span>{{ stockist.name }}</span></p>
                </div>
                <div class="stockist__address">
                    <p><span>{{ stockist.addr-1 }}</span>
                        <br><span>{{ stockist.addr-2 }}</span>
                        {% if stockist.addr-3 != null %}
                        <br><span>{{ stockist.addr-3 }}</span>
                        {% endif %}
                        {% if stockist.addr-4 != null %}
                        <br><span>{{ stockist.addr-4 }}</span>
                        {% endif %}
                        <br><span>{{ stockist.postcode }}</span>
                        {% if stockist.addr-3 == null %}
                        <br><span>&nbsp;</span>
                        {% endif %}
                        {% if stockist.addr-4 == null %}
                        <br><span>&nbsp</span>
                        {% endif %}</p>
                </div>
                <div class="stockist__url">
                    {% case stockist.url-type %}
                    {% when "web" %}
                    <a class="btn btn--sm btn--info" href="{{ stockist.url }}" role="button"
                        alt="{{ stockist.name}} website"><i class="fas fa-arrow-circle-right"></i> Website</a>
                    {% when "fb" %}
                    <a class="btn btn--sm btn--info" href="{{ stockist.url }}" role="button"
                        alt="{{ stockist.name}} facebook"><i class="fas fa-arrow-circle-right"></i> Facebook</a>
                    {% endcase %}
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

</article>
</main>