---
layout: default
title: Matches | NDAA
keywords: NDAA, norwich & district anglers, norwich and district angling, norwich & district, matches, fishing match, match list, match calendar, match listing
og-url: /matches.html
og-type: website
og-title: Norwich and District Angler's Association 
og-desc: Providing great match fishing on the Norfolk Broads since 1960
og-img: home-fb-img.png
---

{% include cover-match.html %}

<main class="wrapper wrapper--padding">

{% include match-list.html %}

</main>