body {
  // margin: 0;
  // position: relative;
  background-color:   $body-bg-colour;
  background-image:   linear-gradient(to bottom, #999 0%, #000 100%);
  // min-height:         $pageMinHeight;
  // font-family: 'Roboto', sans-serif;
  // font-family: 'Source Sans Pro', sans-serif;
  // font-family: Roboto, Helvetica, Arial, sans-serif;
  // font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: $size-300;
  font-weight: $weight-regular;
  line-height:$lh-size-400;
  color: #212529;
  // text-align: left;
  // letter-spacing: 0.015em;
  // text-align: center;
  // padding-top:        $navbarHeight;

  h1 {
    font-size: $size-700;
  }

  h2,
  h3 {
    font-size: $size-500;
  }

  .google-map {
    position: relative;
    padding-bottom: 75%;
    height: 0;
  
    & iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  
  /* Natural flow and rhythm in articles by default */
  article > * + * {
    margin-top: 1em;
  }

  main {
    background-color: $main-bg-colour; //#333745;
    /* Natural flow and rhythm in articles by default */
    & > * {
      padding-top: 1em;
    }

  }
  :focus {
    outline: 2px dotted;
    // outline-offset: 0.25rem;
  }
  .v-middle {
    vertical-align: middle;
  }
  .fa-facebook {
    color: $facebook-blue;
    line-height: inherit;
  
      &:hover {
            color: $facebook-hover;
        }
  }
  .fa-info-circle {
    color: $colour-info;
    line-height: inherit;
  }
  .fa-exclamation-circle { 
    line-height: inherit;
  }
  
}
