html {
  scroll-behavior: smooth;
}
body {
  background-color:   $body-bg-colour;
  background-image:   linear-gradient(to bottom, #999 0%, #000 100%);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-weight: $weight-regular;
  line-height:$lh-size-400;
  color: #212529;

  $mod_1: 1.2; // mobile
  $mod_2: 1.3; // desktop
  $h1_mod_2: 1.4; // desktop

  @include fluid-type($min_width, $max_width, $min_font, $max_font);

  h1 {  
    font-size: $mod_1*$mod_1*$mod_1*$mod_1 *1rem; 
    @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1*$mod_1 *$min_font, $h1_mod_2*$h1_mod_2*$h1_mod_2*$h1_mod_2 *$min_font);
  }
  h2 {  
    font-size: $mod_1*$mod_1*$mod_1 *1rem; 
    @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
  }
  h3 { 
    font-size: $mod_1*$mod_1 *1rem;
    @include fluid-type($min_width, $max_width, $mod_1*$mod_1 *$min_font, $mod_2*$mod_2 *$min_font);
  }

  .google-map {
    position: relative;
    padding-bottom: 75%;
    height: 0;
  
    & iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  
  /* Natural flow and rhythm in articles by default */
  article > * + * {
    margin-top: 2em;
   
  }

  article:last-child {
    padding-bottom: 1em;
  }
  
  main {
      background-color: $main-bg-colour; //#333745;
    /* Natural flow and rhythm in articles by default */
    & > * + * {
      padding-top: 3em;
    }

  }
  .section-hdr {
    margin-bottom: $v-size-400;

    &--col-gap-fix {
      margin-bottom: calc(#{$v-size-400} + #{$col-layout-gap-c});
    }
  }
  #Membership > .alert {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .table-key {
    background-color: $gray-200;

    & h4 {
      margin: 0 .5em;
      font-weight: $weight-regular;
      text-decoration: underline;
    }
  }
  :focus {
    outline: 2px dotted;
    // outline-offset: 0.25rem;
  }
  .span-center {
    justify-content: center;
  }
  .v-middle {
    vertical-align: middle;
  }
  .vt-middle {
    align-items: center;
  }
  .fas {
    line-height: inherit;
  }
  .fa-facebook {
    color: $facebook-blue;
  
      &:hover {
            color: $facebook-hover;
        }
  }
  .fa-info-circle {
    color: $colour-info;
  }

  .match-info {
    & ul {
      margin: .25em;
    }
  }

  .match-buttons > * + * {
    margin-left: 1em;
  }

  .match-result {
    & td {
      padding: .1em .5em;
      border-bottom: .05em solid $black;
    }

    & th {
      padding: .2em .5em;
      background-color: $gray-400;
      border-bottom: .1em solid $black;
      vertical-align: bottom;
    }

    // & tr:nth-child(even) {
    //   background-color: $gray-200;
    // }

    & .td--right {
      text-align: right;
    }
    & .td--center {
      text-align: center;
    }
    & .td--lowest {
      color: $alert-danger-color;
      background-color: $alert-danger-bg-color;
      font-style: italic;
    }
  }

  .table-container {
    display: block;
    overflow-x: auto;
    white-space: nowrap;

    & table {
      border-collapse: collapse;
      background-color: $white;
      margin: 1em 0;
    }

  }
}
  
