// @media (max-width: $breakpoint-sm) and (max-height: $breakpoint-xs) {

//   .cover {
//     font-size: $size-300;

//     h1 {
//       font-size: $size-550;

//     }
//   }
  
// }

@media (min-width: $breakpoint-sm) {

  .wrapper {
    max-width: $container-width-sm;
  }

  .btn--bak2top {
    font-size: 1.1rem;
    border-radius: .25rem;
    background-color: $white;
    border: 1px solid $black;
    color: $black;
  }
  
  .btn--bak2top:focus,
  .btn--bak2top:hover {
    background-color: darken($white, 5%);
    border: 1px solid $black;
    color: $black;
  }

  .Rtable-cell--Date {
    display: none;

  }

  .Rtable-cell--DayNum {
    display: flex;
    flex: 0 1 22%; 

  }

  .Rtable-cell--Match {
    flex: 0 1 45%; 
  }

  .Rtable-cell--Venue {
    flex: 0 1 33%;   
  }

  .Rtable-cell--BkDate {
    display: flex;
    flex: 0 1 25%;

    &-continue {
      color: $white;
    }
    &-same-day {
      color: $alert-success-bg-color;
    }

  }

  .Rtable-cell--BkVenueDesc {
    display: none;
  }

  .Rtable-cell--BkVenue {
    display: flex;
    flex: 0 1 34%;
  }

  .Rtable-cell--BkDesc {
    display: flex;
    flex: 0 1 40%;
  }
 
}

@media (min-width: $breakpoint-md) {

  .wrapper {
    max-width: $container-width-md;
  }

  .card {
    max-width: 330px;
  }

  .Rtable-cell--DayNum {
    display: none;

  }

  .Rtable-cell--Date {
    display: flex;
    flex: 0 1 22%;

  }

  .Rtable-cell--BkVenue {
    display: flex;
    flex: 0 1 27%;
  }

  .Rtable-cell--BkDesc {
    display: flex;
    flex: 0 1 40%;
  }

}

@media (min-width: $breakpoint-lg) {

  .wrapper {
    max-width: $container-width-lg;
  }
  .card {
    max-width: 449.7px;
  }

  .Rtable-cell--BkDate {
    display: flex;
    flex: 0 1 16%;
  }

}

@media (min-width: $breakpoint-xl) {

    .wrapper {
      max-width: $container-width-xl;
    }
    .card {
      max-width: 353px;
    }
}