@media (max-width: $breakpoint-sm) and (max-height: $breakpoint-xs) {

  .cover {
    font-size: $size-300;

    h1 {
      font-size: $size-550;

    }
  }
  
}

@media (min-width: $breakpoint-xs) {

  body {
    font-size: $size-350;

    h1 {
      font-size: $size-750;
    }
  
    h2 {
      font-size: $size-550;
    }

    h3 {
      font-size: $size-450;
    }
  
  }
}

@media (min-width: $breakpoint-sm) {

  body {
    font-size: $size-400;

    h1 {
      font-size: $size-800;
    }
  
    h2 {
      font-size: $size-600;
    }

    h3 {
      font-size: $size-500;
    }
  
  }

  .wrapper {
    max-width: $container-width-sm;
  }

  .card__desc {
    margin-top: 7em;
  }

  .Rtable-row {
    flex-direction: row;
  }

  .Rtable-cell {
    flex: 1 10.5em;

    &:first-child {
      flex: 1 4em;
    }
    
    &--DayNum {
      display: block;
    }

    &--Date {
      display: none;
    }

  }


}

@media (min-width: $breakpoint-md) {

  .wrapper {
      max-width: $container-width-md;
  }

  .Rtable-cell {
    flex: 1 14em;

    &:first-child {
      flex: 1 3em;
    }
    
    &--DayNum {
      display: none;
    }

    &--Date {
      display: block;
    }
  
  }
  
  .card {
    max-width: 332px;
  }

}

@media (min-width: $breakpoint-lg) {

  .wrapper {
    max-width: $container-width-lg;
  }
  .card {
    max-width: 452px;
  }

}

@media (min-width: $breakpoint-xl) {

  .wrapper {
    max-width: $container-width-xl;
  }
  .card {
    max-width: 356px;
  }
  .stockist {
    max-width: 208.8px;
  }
}