<!-- <span id="top-link-block" class="hidden">
  <a href="#top" id ="backToTopBtn" class="btn btn-sm btn-warning">Top</a>
</span> -->
<!-- <a id="back-to-top" href="#" class="btn btn-light btn-lg back-to-top" role="button"><i class="fas fa-chevron-up"></i></a> -->
<!-- <a id="back-to-top" href="#top" class="btn btn-sm btn-warning back-to-top" role="button">TOP</a> -->
<button onclick="topFunction()" id="back2TopBtn" title="Go to top" class="btn btn--sm btn--bak2top">
    <i class="fas fa-chevron-up"></i>
</button>