{% include base.liquid %}

{% assign test_ind = site.data.site.test-ind %}
{% if test_ind == true %}
    <p>Page Name: {{ page_match_ref }}</p>
{% endif %}

{% assign row_found = false %}
{% assign match_result = false %}

{% for row in site.data.matches %}
{% assign row_date = row.DateNum %}
    {% if test_ind == true %}
        <p>Row Date: {{ row_date }}</p>
    {% endif %}

    {% if page.url contains row_date %}
        {% assign row_found = true %}
        {% assign match_date = row.LongDate %}
        {% assign match_name = row.Match %}
        {% assign match_venue = row.Venue %}
        {% assign match_image = row.Image %}
        {% assign draw_venue = row.Draw-Venue %}
        {% assign draw_map = row.Draw-Gmap-Ref %}
        {% assign food_start = row.Food-Start %}
        {% assign draw_time = row.Draw-Time %}
        {% assign start_end_times = row.Start-End-Times %}
        {% assign match_map = row.Match-Gmap-Id %}
        {% assign match_fees = row.Fees %}
        {% assign match_sections = row.Sections %}
        {% assign zone_a = row.Zone-A %}
        {% assign zone_b = row.Zone-B %}
        {% assign match_notes = row.Notes %}
        {% assign linked_match = row.Linked-Match %}
        {% assign linked_file = row.Linked-Filename %}
        {% assign next_match = row.Next-Match %}
        {% assign next_file = row.Next-Filename %}
        {% assign result_basis = row.Result-Basis %}
        {% assign first_place = row.First %}
        {% assign first_pts = row.First-Pts %}
        {% assign first_weight = row.First-Weight %}
        {% assign second_place = row.Second %}
        {% assign second_pts = row.Second-Pts %}
        {% assign second_weight = row.Second-Weight %}
        {% assign third_place = row.Third %}
        {% assign third_pts = row.Third-Pts %}
        {% assign third_weight = row.Third-Weight %}
        {% break %}
    {% endif %}
{% endfor %}

<div class="wrapper cover" style="background-image: linear-gradient(to bottom, rgb(200, 200, 200, .8), 55%, rgb(200, 200, 200, .2)), url('{{ base }}{{ site.data.site.images-folder }}{{ match_image }}')">

    <div class="stack">
        <div>
            <h1>{{ match_name }}</h1>
            <h2>{{ match_date }}</h2>
            <h3>{{ match_venue }}</h3>
            {% if match_sections != nil %}
            <p>{{ match_sections }}</p>
            {% else %}
            <p><strong>Zone A:</strong> {{ zone_a }}</p>
            <p><strong>Zone B:</strong> {{ zone_b }}</p>
            {% endif %}

        </div>

        {% if row_found == true %}
            {% if first_place != nil %}
                {% assign match_result = true %}
                <div class="alert alert--info alert--fit-center">
                    <table class="match-top-three">
                        <thead>
                            <tr>
                                <th>Placing</th>
                                <th>Pairing</th>
                                <th{% if result_basis == "weight" %} class="t3-hidden-sm"{% endif %}>Points</th>
                                <th{% if result_basis == "points" %} class="t3-hidden-sm"{% endif %}>Weight</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-heading="Placing" class="placing">1st</td>
                                <td data-heading="Pairing">{{ first_place }}</td>
                                <td {% if result_basis == "weight" %}class="t3-hidden-sm" {% endif %}data-heading="Points">{{ first_pts }}</td>
                                <td {% if result_basis == "points" %}class="t3-hidden-sm" {% endif %}data-heading="Weight">{{ first_weight }}</td>
                            </tr>
                            <tr>
                                <td data-heading="Placing" class="placing">2nd</td>
                                <td data-heading="Pairing">{{ second_place }}</td>
                                <td {% if result_basis == "weight" %}class="t3-hidden-sm" {% endif %}data-heading="Points">{{ second_pts }}</td>
                                <td {% if result_basis == "points" %}class="t3-hidden-sm" {% endif %}data-heading="Weight">{{ second_weight }}</td>
                            </tr>
                            <tr>
                                <td data-heading="Placing" class="placing">3rd</td>
                                <td data-heading="Pairing">{{ third_place }}</td>
                                <td {% if result_basis == "weight" %}class="t3-hidden-sm" {% endif %}data-heading="Points">{{ third_pts }}</td>
                                <td {% if result_basis == "points" %}class="t3-hidden-sm" {% endif %}data-heading="Weight">{{ third_weight }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                {% if linked_match != nil or next_match != nil %}
                <div class="match-buttons">
                    {% if linked_match != nil %}
                    <a class="btn btn--info" href="{{base}}/matches/{{ linked_file }}" role="button"
                    alt="Go to {{ linked_match }} page"> {{ linked_match }}</a>    
                    {% endif %}
                    {% if next_match != nil %}
                    <a class="btn btn--info" href="{{base}}/matches/{{ next_file }}" role="button"
                    alt="Go to {{ next_match }} page"> {{ next_match }}</a>    
                    {% endif %}
                </div>
                {% endif %}
            {% else %}
                <div class="alert alert--info alert--flex vt-middle">
                    {% if match_fees != nil %}
                    <div>
                        <p><strong>Fees:</strong> {{ match_fees }}</p>
                    </div>
                    {% endif %}
                    {% if draw_venue != nil %}
                    <div>
                        <p><strong>Match HQ:</strong> {{ draw_venue }}{% if draw_map != nil %} <a href="{{ site.data.site.gmap-cid-url }}{{ draw_map }}" alt="{{ match_name }} draw location">
                            <i class="fas fa-arrow-circle-right"></i></a>{% endif %}</p>
                    </div>
                    {% endif %}
                    {% if food_start != nil %}
                    <div>
                        <p><strong>Breakfast:</strong> {{food_start }}</p>
                    </div>
                    {% endif %}
                    {% if draw_time != nil %}
                    <div>
                        <p><strong>Draw:</strong> {{ draw_time }}</p>
                    </div>
                    {% endif %}
                    {% if start_end_times != nil %}
                    <div>
                        <p><strong>Fish:</strong> {{ start_end_times }}</p>
                    </div>
                    {% endif %}
                    {% if match_notes != nil %}
                    <div>
                        <p><strong>More Information:</strong> {{ match_notes }} <a href="#Information"><i class="fas fa-arrow-circle-down"></i></a>
                        </p>
                    </div>
                    {% endif %}    
                </div>
                {% if match_map != nil or linked_match != nil %}
                <div class="match-buttons">
                    {% if linked_match != nil %}
                    <a class="btn btn--info" href="{{base}}/matches/{{ linked_file }}" role="button"
                    alt="Go to {{ linked_match }} page"> {{ linked_match }}</a>    
                    {% endif %}
                    {% if match_map != nil %}
                    <a class="btn btn--info" href="{{ site.data.site.gmap-url }}{{ match_map }}" role="button"
                    alt="Open map of {{ match_name }} locations">Locations <i class="fas fa-map-marker-alt"></i></a>    
                    {% endif %}
                </div>
                {% endif %}
            {% endif %}
        {% else %}
    
            <div class="alert alert--success alert--flex">
                <div>
                    <span class="span-center">
                        <span class="pull-left">
                            <i class="fas fa-info-circle"></i>
                            <p>Oops this match ( {{ page.url }} ) was not found on matches.csv.</p>
                        </span>
                    </span>
                </div>
            </div>
        
    
        {% endif %}
    
    </div>

</div>
