{% include base.liquid %}

{% assign test_ind = site.data.site.test-ind %}
{% assign match_image = site.data.site.match-cvr-img %}

{% if test_ind == true %}
    {% assign today_date = site.data.site.test-date %}
    {% assign today_time = site.data.site.test-time %}
{% else %}
    {% assign today_date = 'now' | date: '%Y%m%d' %}
    {% assign today_time = 'now' | date: '%H%M' %}
{% endif %}

{% assign today_date = today_date | plus: 0 %}
{% assign today_time = today_time | plus: 0 %}

{% assign row_found = false %}
{% assign cut_off_time = site.data.match-info.cut-off-time %}
{% assign cut_off_time = cut_off_time | plus: 0 %}


{% for row in site.data.matches %}
{% assign row_date = row.DateNum %}
{% assign row_date = row_date | plus: 0 %}

    {% if row_found == false %}
        {% if today_date == row_date %}
            {% if today_time < cut_off_time %}
                {% assign row_found = true %}
            {% endif %}
        {% else %}
            {% if today_date < row_date %}
                {% assign row_found = true %}
            {% endif %}
        {% endif %}
        {% if row_found == true %}
            {% assign match_DateNum = row.DateNum %}
            {% assign match_page = row_date | append: ".html" %}
            {% assign match_date = row.LongDate %}
            {% assign match_name = row.Match %}
            {% assign match_venue = row.Venue %}
            {% assign match_image = row.Image %}
            {% assign draw_venue = row.Draw-Venue %}
        {% endif %}
    {% endif %}
{% endfor %}

<div class="wrapper cover" style="background-image: linear-gradient(to bottom, rgb(200, 200, 200, .8), 15%, rgb(200, 200, 200, .2)), url('{{ base }}{{ site.data.site.images-folder }}{{ match_image }}')">

    <div class="stack">
        <div>
            <h1>Next Match</h1>
            {% if test_ind == true %}
            <p>Test Date: {{ today_date }} Test Time: {{ today_time }}</p>
            {% endif %}
        </div>

        {% if row_found == true %}
            <div class="alert alert--info alert--flex alert--txt-left">
                <div class="alert--cvm-date">
                    <p>{{ match_date }}</p>
                </div>
                <div class="alert--cvm-match">
                    <p>{{ match_name }}</p>
                </div>
                <div class="alert--cvm-venue">
                    <p>{{ match_venue }}</p>
                </div>
                {% assign match_page_exists = null %}
                {% for item in site.matches %}
                {% if item.url contains match_DateNum %}
                    {% assign match_page_exists = item.url | append: ".html" %}
                {% endif %}
                {% endfor %}
                {% if match_page_exists != nil %}
                <div class="alert--cvm-link-icon">
                    <a href="{{base}}{{ match_page_exists }}" alt="{{ match_name }} more information">
                        <i class="fas fa-arrow-circle-right"></i></a>
                </div>
                {% endif %}
            </div>
            
        {% else %}
    
            <div class="alert alert--info alert--flex alert--fit-center">
                <div>
                    <span class="span-center">
                        <span class="pull-left">
                            <i class="fas fa-info-circle"></i>
                            <p>Current Match Calendar completed, see you next season.</p>
                        </span>
                    </span>
                </div>
            </div>
        
    
        {% endif %}
    
    </div>

</div>
