{% assign test_ind = site.data.site.test-ind %}
{% if test_ind == true %}
    {% assign today_date = site.data.site.test-date %}
    {% assign today_time = site.data.site.test-time %}
{% else %}
    {% assign today_date = 'now' | date: '%Y%m%d' %}
    {% assign today_time = 'now' | date: '%H%M' %}
{% endif %}
{% assign today_date = today_date | plus: 0 %}
{% assign today_time = today_time | plus: 0 %}
<div class="wrapper cover cover--home">


    <div class="stack">
      <div>
        <h1>Norwich and District Anglers' Association</h1>
      </div>
  
      <div class="alert alert--info alert--fit-center">
        <p>Keep up to date with NDAA via <a href="https://www.facebook.com/ndaanorwich/" alt="NDAA Facebook">
            <span class="v-middle"><i class="fab fa-facebook fa-2x"></i></span></a></p>
      </div>

      {% if site.data.cover.cover-messages != nil %}
      <div class="alert alert--{{site.data.cover.cover-msg-type}} alert--flex">
        {% if test_ind == true %}
        <div><span class="span-center pull-left">Test Date: {{ today_date }} Test Time: {{ today_time }}</span></div>
        {% endif %}
        {% for msg in site.data.cover.cover-messages %}
        <div>
          {% assign output_msg = true %}
          {% if msg.start-date != nil %}
            {% assign msg_start_date = msg.start-date %}
            {% assign msg_start_date = msg_start_date | plus: 0 %}
            {% if today_date < msg_start_date %}       
              {% assign output_msg = false %}
            {% endif %} 
          {% endif %} 
          {% if msg.end-date != nil %}
            {% assign msg_end_date = msg.end-date %}
            {% assign msg_end_date = msg_end_date | plus: 0 %}
            {% if msg_end_date < today_date %}
              {% assign output_msg = false %}
            {% endif %} 
          {% endif %} 
          {% if output_msg %}
          <span class="span-center pull-left">
              {% case msg.msg-type %}
                {% when "warning" %}
                <i class="fas fa-exclamation-circle"></i>
                {% when "info" %}
                <i class="fas fa-info-circle"></i>
              {% endcase %}
              {% if test_ind == true %}
                {% if msg.start-date != nil %}
                {% capture cvrmsg_enddate %}
                {{ msg.cvr-msg }} ({{ msg.start-date }})
                {% endcapture %}
                {{ cvrmsg_enddate }}    
                {% else %}
                {{ msg.cvr-msg | markdownify }}
                {% endif %}
              {% else %}
              {{ msg.cvr-msg | markdownify }}
              {% endif %}
          </span>
          {% endif %} 
        </div>
        {% endfor %} 
      </div>
      {% endif %}

    </div>

    <div>
      <a class="btn" href="#Membership" role="button">Membership</a>
    </div>


  </div>