{% assign test_ind = site.data.site.test-ind %}
{% assign booking_image = site.data.site.bookings-cvr-img %}

{% if test_ind == true %}
    {% assign today_date = site.data.site.test-date %}
    {% assign today_time = site.data.site.test-time %}
{% else %}
    {% assign today_date = 'now' | date: '%Y%m%d' %}
    {% assign today_time = 'now' | date: '%H%M' %}
{% endif %}

{% assign today_date = today_date | plus: 0 %}
{% assign today_time = today_time | plus: 0 %}

{% assign limit = site.data.bookings-info.cover-period %}
{% assign limit = limit | plus: 0 %}

{% assign default_cut_off_time = site.data.bookings-info.cut-off-time %}
{% assign default_cut_off_time = default_cut_off_time | plus: 0 %}

{% assign row_found = false %}

{% for row in site.data.bookings %}
{% if row.CutOffTime != nil %}
    {% assign cut_off_time = row.CutOffTime %}
    {% assign cut_off_time = cut_off_time | plus: 0 %}
{% else %}
    {% assign cut_off_time = default_cut_off_time %}
    {% assign cut_off_time = cut_off_time | plus: 0 %}
{% endif %}
{% assign row_date = row.NumDate %}
{% assign row_date = row_date | plus: 0 %}
    {% if row_found == false %}
        {% if today_date == row_date %}
            {% if today_time < cut_off_time %}
                {% assign row_found = true %}
            {% endif %}
        {% else %}
            {% if today_date < row_date %}
                {% assign row_found = true %}
            {% endif %}
        {% endif %}
        {% if row_found == true %}
            {% assign booking_numdate = row.NumDate %}
            {% assign booking_date = row.Date %}
            {% assign booking_desc = row.Description %}
            {% assign booking_venue = row.Venue %}
            {% assign booking_image = row.Image %}
        {% endif %}
    {% endif %}
{% endfor %}

<div class="wrapper cover" style="background-image: linear-gradient(to bottom, rgb(200, 200, 200, .8), 15%, rgb(200, 200, 200, .2)), url('assets/images/{{ booking_image }}')">

    <div class="stack">
        <div>
            <h1>Upcoming Bookings</h1>
            {% if test_ind == true %}
            <p>Test Date: {{ today_date }} Test Time: {{ today_time }}</p>
            {% endif %}
        </div>

        {% if row_found == true %}
        <div class="alert alert--info alert--fit-center">
            <div class="Btable">
            {% assign prev_date = "none" %}
            {% assign same-day = false %}
            {% assign count = 0 %}
            {% for row in site.data.bookings %}
            {% if row.CutOffTime != nil %}
                {% assign cut_off_time = row.CutOffTime %}
                {% assign cut_off_time = cut_off_time | plus: 0 %}
            {% else %}
                {% assign cut_off_time = default_cut_off_time %}
                {% assign cut_off_time = cut_off_time | plus: 0 %}
            {% endif %}
            {% assign row_date = row.NumDate %}
            {% assign row_date = row_date | plus: 0 %}
            {% if today_date <= row_date %}
                {% assign row_found = true %}

                {% if today_date == row_date %}
                    {% if today_time >= cut_off_time %}
                        {% assign row_found = false %}
                    {% endif %}
                {% endif %}
                
                {% if row_found == true %}
    
                    {% if row.Date != prev_date %}
                        {% assign count = count | plus: 1 %}
                        {% if count > limit %}
                            {% break %}
                        {% endif %}
                        {% assign prev_date = row.Date %}
                        {% assign same-day = false %}
                    {% else %}
                        {% assign same-day = true %}
                    {% endif %}
                    {% if same-day == true %}
                        <div class="Btable-row Btable-row--same-day">
                            <div class="Btable-cell Btable-cell--BkDate Rtable-cell--BkDate-same-day">

                    {% else %}
                        {% if count == 1 %}
                            <div class="Btable-row Rtable-row--same-day">
                        {% else %}
                            <div class="Btable-row Rtable-row--new-day">
                        {% endif %}                    
                                <div class="Btable-cell Btable-cell--BkDate">
                    {% endif %}
                                {{ row.Date }}
                            </div>
                            {% capture venue_desc %}
                            {{ row.Venue }} ({{ row.Description }})
                            {% endcapture %}
                            <div class="Btable-cell Btable-cell--BkVenueDesc">
                                {{ venue_desc }}
                            </div>
                            <div class="Btable-cell Btable-cell--BkVenue">
                                {{ row.Venue }}
                            </div>
                            {% assign match_page_exists = null %}
                            {% for item in site.matches %}
                            {% if item.url contains row.NumDate %}
                                {% assign match_page_exists = item.url | append: ".html" %}
                            {% endif %}
                            {% endfor %}
                            {% if match_page_exists != nil and row.LinkPage != nil%}
                            <div class="Btable-cell Btable-cell--BkDesc">
                                <a href="{{base}}{{ match_page_exists }}" alt="{{ match_name }} more information">{{ row.Description }}</a>
                            </div>
                            {% else %}
                            <div class="Btable-cell Btable-cell--BkDesc">
                                {% if test_ind == true %}
                                    {% if row.CutOffTime != nil %}
                                    {% capture desc_cutofftime %}
                                    {{ row.Description }} ({{ row.CutOffTime }})
                                    {% endcapture %}
                                    {{ desc_cutofftime }}    
                                    {% else %}
                                    {{ row.Description }}
                                    {% endif %}
                                {% else %}
                                {{ row.Description }}
                                {% endif %}
                            </div>
                            {% endif %}
                        </div>
                {% endif %}
            {% endif %}
            {% endfor %}
            </div>
        </div>
    
        {% else %}
    
        <div class="alert alert--info alert--flex alert--fit-center">
            <div>
                <span class="span-center">
                    <span class="pull-left">
                        <i class="fas fa-info-circle"></i>
                        <p>Current Bookings Calendar completed, see you next season.</p>
                    </span>
                </span>
            </div>
        </div>
        
    
        {% endif %}
    
    </div>

</div>
