<main class="wrapper wrapper--padding wrapper--min-height">
    <!-- <article id="Matches"> -->
        <!-- <section> -->
            <!-- <div class="section-hdr">
                <h2>Match Instructions</h2>
            </div> -->
            <!-- {% for opt_hash in site.data.match-info.options %}
            {% endfor %} -->
            <!-- {% assign opt = site.data.match-info.options[1] %}
            <p>{{ opt.option-desc | markdownify }}</p> -->

        <!-- </section> -->
    <!-- </article> -->

</main>