{% include base.liquid %}
{% if site.data.match-instruct.intro != null %}
<article id="Match-Locations">
    <section>
        <div class="section-hdr">
            <h2>Match Locations</h2>
        </div>
            {{ site.data.match-instruct.intro | markdownify }}

        {% if site.data.match-instruct.sections != nil %} 
        {% for section in site.data.match-instruct.sections %}
            {% if section.paragraphs != nil %} 
            {% for para in section.paragraphs %}
            <div class="match-info">
                {% if para.hdr != nil %}
                {% if para.hdr-lvl != nil %}
                <h4>{{para.hdr}}</h4>
                {% else%}
                <h3>{{para.hdr}}</h3>
                {% endif %}
                {% endif %}
                {% if para.img != nil %}
                <img class="md-img md-img--{{para.img-pos}}" src="{{ base }}{{ site.data.site.images-folder }}{{para.img}}" alt="{{para.img-alt}}">
                {% endif %}
                {% for sentence in para.sentences %}
                {% if sentence.txt != nil %}
                  {{sentence.txt | markdownify}}
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
            {% endif %}

        {% endfor %}
        {% endif %}
    </section>
</article>
{% endif %}