{% assign test_ind = site.data.site.test-ind %}

{% if test_ind == true %}
    {% assign today_date = site.data.site.test-date %}
    {% assign today_time = site.data.site.test-time %}
{% else %}
    {% assign today_date = 'now' | date: '%Y%m%d' %}
    {% assign today_time = 'now' | date: '%H%M' %}
{% endif %}

{% assign today_date = today_date | plus: 0 %}
{% assign today_time = today_time | plus: 0 %}

{% assign cut_off_time = site.data.match-info.cut-off-time %}
{% assign cut_off_time = cut_off_time | plus: 0 %}

<article id="Matches">
    <section>
        <div class="section-hdr">
            <h2>Match Calendar</h2>
        </div>
        {% if site.data.match-info.intro-desc-ind == true %}
            {{ site.data.match-info.intro-desc | markdownify }}
        {% endif %}
        {% if site.data.match-info.alert-msg-ind == true %}
        <div class="alert alert--flex alert--{{ site.data.match-info.alert-msg-type }}">
            {% for msg in site.data.match-info.alert-messages %}
            <div>
                <span class="vt-middle">
                    {% case msg.alert-type %}
                    {% when "warning" %}
                        <i class="indicator fas fa-exclamation-circle"></i>
                    {% when "info" %}
                        <i class="indicator fas fa-info-circle"></i>
                    {% endcase %}
                    {{ msg.alert-msg | markdownify }}
                </span>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </section>
    
    {% if site.data.match-info.options-ind == true %}
    <section class="table-key">
        <h4>Calendar Notes</h4>

        <div class="md-insert">
            <div class="alert--flex">
                {% for opt in site.data.match-info.options %}
                <div>
                    <span><i class="indicator fas {{ opt.option-grp-icon }} Rtable-cell--Ic{{ opt.option-grp }}"></i>{{ opt.option-desc | markdownify }}</span>
                </div>
                {% endfor %}
            </div>
        </div>

    </section>
    {% endif %}

    <section>
        <div class="Rtable">
        {% assign prev_month = "none" %}

        {% for row in site.data.matches %}
        {% assign row_date = row.DateNum %}
        {% assign row_date = row_date | plus: 0 %}
        {% assign match_page = row_date | append: ".html" %}

        {% if today_date <= row_date %}
            {% assign row_found = true %}

            {% if today_date == row_date %}
                {% if today_time >= cut_off_time %}
                    {% assign completed_match = true %}
                {% else %}
                    {% assign completed_match = false %}           
                {% endif %}
            {% else %}
                {% assign completed_match = false %}
            {% endif %}
        {% else %}
            {% assign row_found = true %}
            {% assign completed_match = true %}
        {% endif %}

            {% if row_found == true %}
                {% if row.Month != prev_month %}
                    {% assign prev_month = row.Month %}
                    <div class="Rtable-row Rtable-row--month">
                        <div class="Rtable-cell Rtable-cell--month">
                            {{ row.Month }}
                        </div>
                    </div>
                    {% if completed_match == true %}
                        <div class="Rtable-row Rtable-row--MG{{ row.Match-Grp }} Rtable-row--complete vt-middle">
                    {% else %}
                        <div class="Rtable-row Rtable-row--MG{{ row.Match-Grp }} vt-middle">
                    {% endif %}
                {% else %}
                    {% if completed_match == true %}
                        <div class="Rtable-row Rtable-row--MG{{ row.Match-Grp }} Rtable-row--continue Rtable-row--complete vt-middle">
                    {% else %}
                        <div class="Rtable-row Rtable-row--MG{{ row.Match-Grp }}  Rtable-row--continue vt-middle">
                    {% endif %}

                {% endif %}
                        <div class="Rtable-cell Rtable-cell--DayNum">
                            {{ row.DayNum }}
                        </div>
                        <div class="Rtable-cell Rtable-cell--Date">
                            {{ row.Date }}
                        </div>
                        <div class="Rtable-cell Rtable-cell--Match">
                            {{ row.Match }}
                        </div>
                        {% if row.Draw-Venue != nil %}
                        <div class="Rtable-cell Rtable-cell--Venue">
                            {{ row.Venue }}
                        </div>
                        <div class="Rtable-cell Rtable-cell--Link">
                            <a href="{{base}}/matches/{{match_page}}" alt="{{ row.Match }} more information">
                                <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                        {% else %}
                        <div class="Rtable-cell Rtable-cell--Venue-Only">
                            {{ row.Venue }}
                        </div>
                        {% endif %}
        
                    </div>
            {% endif %}
        {% endfor %}
        </div>
    </section>
</article>