<article id="Venues">
    <section>
        <h2>Venues</h2>

        <div class="col-layout">
            {% for venue in site.data.venues.venues %}

            <div class="card">
                <div class="card__title">
                    <h2>{{ venue.title }}</h2>
                    <h3>{{ venue.sub-title }}</h3>  
                </div>
                <div class="card__map">
                    <a class="btn btn--info" href="{{ site.data.site.gmap-url }}{{ venue.gmap-id }}" role="button">Map</a>
                </div>
                <section>
                    {{ venue.desc | markdownify }}
                </section>
            </div>
            {% endfor %}
        </div>

    </section>
</article>