.img-news-item {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 0.2em;
  line-height: 1rem;
  background-color: $white;
  // border: 0.15em solid;
  transition: all .2s ease-in-out;
}