$section-bg-colour: #ffffff;
$sctn-1-bg-colour: $section-bg-colour;
$sctn-2-bg-colour: darken($sctn-1-bg-colour, 4%);
$sctn-3-bg-colour: darken($sctn-1-bg-colour, 8%);
$sctn-4-bg-colour: darken($sctn-1-bg-colour, 12%);
$sctn-5-bg-colour: darken($sctn-1-bg-colour, 16%);

$sctn-desc-colour: lighten($colour-info,25%);
$sctn-rules-colour: lighten($colour-warning,37%);
$sctn-booking-colour: lighten($colour-danger,35%);
$sctn-location-colour: lighten($colour-success,50%);

.water {
  margin-top: -0.05em;
  padding: 4em $water-LR-padding;

  &--desc {
  // background-color: $sctn-1-bg-colour;
  // color: #aaaaaa;
  background-color: $sctn-desc-colour;

    & > h2 {
      color: darken($sctn-desc-colour,40%);
      border-color: darken($sctn-desc-colour,40%);
    }

  }

  &--rules {
    background-color: $sctn-rules-colour;

    & > h2 {
      color: darken($sctn-rules-colour,42%);
      border-color: darken($sctn-rules-colour,42%);
    }
  }

  &--lctn {
    background-color: $sctn-location-colour;

    & > h2 {
      color: darken($sctn-location-colour,45%);
      border-color: darken($sctn-location-colour,45%);
    }
  }

  &--booking {
    background-color: $sctn-booking-colour;

    & > h2 {
      color: darken($sctn-booking-colour,45%);
      border-color: darken($sctn-booking-colour,45%);
    }
  }
}

.water1 {
  margin-top: -0.01em;
  padding: 2em 0;

  & > .thnail {
    text-align: unset;
  }

  &--desc {
  // background-color: $sctn-1-bg-colour;
  // color: #aaaaaa;
  background-color: $sctn-desc-colour;

    & > h2 {
      color: darken($sctn-desc-colour,40%);
      border-color: darken($sctn-desc-colour,40%);
    }

  }

  &--rules {
    background-color: $sctn-rules-colour;

    & > h2 {
      color: darken($sctn-rules-colour,42%);
      border-color: darken($sctn-rules-colour,42%);
    }
  }

  &--lctn {
    background-color: $sctn-location-colour;

    & > h2 {
      color: darken($sctn-location-colour,45%);
      border-color: darken($sctn-location-colour,45%);
    }
  }

  &--booking {
    background-color: $sctn-booking-colour;

    & > h2 {
      color: darken($sctn-booking-colour,45%);
      border-color: darken($sctn-booking-colour,45%);
    }
  }
}

.water2-wrapper {
  background-color: #77c4d3;
  color: $white;
  padding: 1em;
}

.water2 {
  margin-top: 0;
  padding: 1em;
  color: $black;
  background-color: $white;
  // padding: 4em $water-LR-padding;

  &--desc {
  // background-color: $sctn-1-bg-colour;
  // color: #aaaaaa;
  // background-color: $sctn-desc-colour;
    box-shadow: none; //0 0 0.6em $gray-600;

    // & > h2 {
    //   color: darken($sctn-desc-colour,40%);
    //   border-color: darken($sctn-desc-colour,40%);
    // }

  }

  &--rules {
    background-color: $danger;//rgba(234,46,73,0.9);//#ea2e49;//$sctn-rules-colour;
    color: $white;

    & > h2 {
      // color: darken($sctn-rules-colour,42%);
      border-color: $white;//darken($sctn-rules-colour,42%);
    }
  }

  &--lctn {
    box-shadow: none; //0 0 0.6em $gray-600;
    // background-color: $sctn-location-colour;

    // & > h2 {
    //   color: darken($sctn-location-colour,45%);
    //   border-color: darken($sctn-location-colour,45%);
    // }
  }

  // &--booking {
  //   background-color: $sctn-booking-colour;

  //   & > h2 {
  //     color: darken($sctn-booking-colour,45%);
  //     border-color: darken($sctn-booking-colour,45%);
  //   }
  // }

}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  &--col-gap {
    @include parent-col-gap;
  }
}

.panel {
  flex: 1 1 $panel-width;
  padding: 0;

  &--col-gap {
    @include child-col-gap;
  }

  & > h3 {
    margin-top: 0.35em;
  }

}

.google-map {
  position: relative;
  padding-bottom: 75%;
  height: 0;

  & iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: $breakpoint-sm) {
  .water1 {
    padding: 2em 1em;
  }
    
}