<!DOCTYPE html>
<html lang="en">
<head>
  {% include base.html %}
  {% include analytics.html %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <meta name="Keywords" content="{{ page.keywords }}">
    <meta name="Description" content="Norwich and District Angler's Association provides great fishing on the Norfolk Broads for all Anglers." />
    
    {% include favicon.html %}
   
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ base }}{{ site.data.site.stylesheet }}">
    
    <base target="_top">
    
    {% if page.name contains 'index' %}
      {% include netlify-identity-widget.html %}
    {% endif %}

    <title>{{ page.title }}</title>
   
</head>

<body>
  {% include navbar.html %}

  {% if page.name contains 'index' %}
    {% include cover.html %}
  {% endif %}

  {% if page.name contains 'booking' %}
    {% include cover-bookings.html %}
  {% endif %}

  {% if page.name contains 'match' %}
    {% include cover-match.html %}
  {% endif %}
  
  <main class="wrapper wrapper--padding">

    {{ content }}
                          
  </main>

  {% include back-to-top.html %}

  <script src="{{ base }}{{ site.data.site.jsfile }}"></script>
  
  {% if page.name contains 'index' %}
    {% include netlify-identity-script.html %}
  {% endif %}

</body>

</html>
