<!DOCTYPE html>
<html lang="en">
<head>
  {% include base.liquid %}
  {% include analytics-ga4.html %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% assign date = 'now' | date: '%d-%m-%Y' %}
    {% assign time = 'now' | date: '%H:%M:%S' %}
    <meta name="Date" content="{{ date }}">
    <meta name="Time" content="{{ time }}">

    <meta name="Keywords" content="{{ page.keywords }}">
    
    <meta name="Description" content="Norwich and District Anglers' Association provides great fishing on the Norfolk Broads for all anglers." />
    
    <meta property="og:site_name" content="NDAA" />
    <meta property="og:locale" content="en_GB" />
    {% if page.og-url != nil %}
    <meta property="og:url"                content="https://ndaa.org.uk{{ page.og-url }}" />
    {% endif %}
    {% if page.og-type != nil %}
    <meta property="og:type"               content="{{ page.og-type }}" />
    {% endif %}
    {% if page.og-title != nil %}
    <meta property="og:title"              content="{{ page.og-title }}" />
    {% endif %}
    {% if page.og-desc != nil %}
    <meta property="og:description"        content="{{ page.og-desc }}" />
    {% endif %}
    {% if page.og-img != nil %}
    <meta property="og:image"              content="https://ndaa.org.uk{{ site.data.site.images-folder }}{{ page.og-img }}" />
    {% endif %}
    
    {% include favicon.html %}
   
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ base }}{{ site.data.site.stylesheet }}">
    
    <base target="_top">
    
    {% if page.name contains 'index' %}
      {% include netlify-identity-widget.html %}
    {% endif %}

    <title>{{ page.title }}</title>
   
</head>

<body>

  {% include navbar.html %}
  
  {{ content }}

  {% include back-to-top.html %}

  <script src="{{ base }}{{ site.data.site.jsfile }}"></script>
  
  {% if page.name contains 'index' %}
    {% include netlify-identity-script.html %}
  {% endif %}

</body>

</html>
