$alert-pad-t: 1em !default;
$alert-pad-r: 1em !default;
$alert-pad-b: 1em !default;
$alert-pad-l: 1em !default;
$alert-danger-color: #a94442 !default;
$alert-danger-bg-color: #f2dede !default;
$alert-danger-brdr-color: #ebccd1 !default;
$alert-success-color: #0f5132 !default;
$alert-success-bg-color: #d1e7dd !default;
$alert-success-brdr-color: #badbcc !default;
$alert-warning-color: #686211 !default;
$alert-warning-bg-color: #f7e288 !default;
$alert-warning-brdr-color: #f5c670 !default;
$alert-info-color: #31708f !default;
$alert-info-bg-color: #d9edf7 !default;
$alert-info-brdr-color: #bce8f1 !default;


.alert {
  padding-top: $alert-pad-r;
  padding-right: $alert-pad-r;
  padding-bottom: $alert-pad-b;
  padding-left: $alert-pad-l;
  // margin-top: 0rem;
  // margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .2em;

  &--fit-center{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  
  }


  &--success {
    color: $alert-success-color;
    background-color: $alert-success-bg-color;
    border-color: $alert-success-brdr-color;
}

  &--danger {
      color: $alert-danger-color;
      background-color: $alert-danger-bg-color;
      border-color: $alert-danger-brdr-color;
  }

  &--warning {
    color: $alert-warning-color;
    background-color: $alert-warning-bg-color;
    border-color: $alert-warning-brdr-color;
}

&--info {
  color: $alert-info-color;
  background-color: $alert-info-bg-color;
  border-color: $alert-info-brdr-color;
}

  &--flex{
    display: flex;
    flex-wrap: wrap; /* 2 */
 
    & > * {
      margin: 0 .5em;
    }

    & div {
      flex: 1 1 auto;
  
      & span {
        display: flex;
        
        & > .fas {
          margin-right: .3em;
          font-size: 1.15em;
        }
      
      }

    }
  }
  
}