.col-layout {
  // column-count: 1;
  // column-gap: 0.6em;
  overflow: hidden;
  display: flex; /* 1 */
  flex-wrap: wrap; /* 2 */
  // padding-top: .8em; /* 5 (edit me!) */
  // padding-bottom: 1em; /* 5 (edit me!) */

}

.col-layout > div {
  flex: 1 1 14em;   /* 3 (edit me!) */
  margin-right: 1em; /* 5 (edit me!) */
  margin-bottom: 1em; /* 5 (edit me!) */
  // margin: 0 1em 1em 0;

}


.col-layout > .card {
  flex: 1 1 20em;   /* 3 (edit me!) */
  margin-right: 1em; /* 5 (edit me!) */
  margin-bottom: 1em; /* 5 (edit me!) */
  // margin: 0 1em 1em 0;

}
