.fluid-font {
  font-size: 0.875rem;
}

@media (min-width: 20rem) {
  .fluid-font {
    font-size: calc(0.875rem + 0.5 * ((100vw - 20rem) / 60));
  }
}

@media (min-width: 80rem) {
  .fluid-font {
    font-size: 1.375rem;
  }
}