.Navbar {
  position: relative;
  border-color: $btn-info-bg-colour;
  border: 1px solid transparent;
  background-color: $btn-info-bg-colour;
  display: flex;
  font-family: sans-serif;
  color: $gray-400;
}

.Navbar--fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  border-width: 0 0 1px;
}

.Navbar__Link {

  &--brand > a {
    font-size: 1.2rem;
    font-weight: $weight-bold;

  }

  & > a {
    display: block;
    height: $navHeight;
    line-height: $navHeight;
    color: inherit;
    text-decoration: none;
    padding: 0 $size-500;
  }

  & > a:focus,
  & > a:hover {
    background-color: darken($btn-info-bg-colour, 12%);
    color: $white;
  }

  & .active > a:focus,
  & .active > a:hover {
  background-color: darken($btn-info-bg-colour, 12%);
  }

}

.Navbar__Items {
  display: flex;
  font-size: 1rem;
}

.active > a {
  // background-color: darken($btn-info-bg-colour, 12%);
  color: $btn-info-bg-colour;
  background-color: $white;
}

.active > a:focus,
.active > a:hover {
  background-color: darken($btn-info-bg-colour, 12%);
}


.Navbar__Items--right {
  margin-left: auto;

}

.Navbar__Link--toggle {
  display: none;
  padding-right: 0;

}

@media only screen and (max-width: $breakpoint-sm) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }
    
  .Navbar__Items {
    display:none;
  }
      
  .Navbar__Items--right {
    margin-left:0;
  }
      
  .Navbar__ToggleShow {
    position: absolute;
    top: $navHeight;
    display: flex;
    width: 100%;
    background-color: $btn-info-bg-colour;
  }
  
  .Navbar__Link--brand {
    width: 100px;
  }

  .Navbar__Link--toggle {
      height: $navHeight;
      line-height: $navHeight;
      padding: 0 $size-500;
      align-self: flex-end;
      display: initial;
      position: absolute;
      cursor: pointer;
  } 
}