.Navbar {
  background-color: $btn-info-bg-colour;
  display: flex;
  font-family: sans-serif;
  color: white;
}

.Navbar__Link {
  // padding-right: 8px;

  & > a {
    display: block;
    height: $navHeight;
    line-height: $navHeight;
    color: white;
    text-decoration: none;
    padding: 0 $size-500;

  }

}

.Navbar__Items {
  display: flex;
  & > .active > a,
  & > .active > a:focus,
  & > .active > a:hover {
    // background-color: darken($btn-info-bg-colour, 12%);
    color: $btn-info-bg-colour;
    background-color: $white;
  }

}

.Navbar__Items--right {
  margin-left:auto;

}

.Navbar__Link--toggle {
  display: none;
  padding-right: 0;

}

@media only screen and (max-width: $breakpoint-sm) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }
    
  .Navbar__Items {
    display:none;
  }
      
  .Navbar__Items--right {
      margin-left:0;
  }
      
  .Navbar__ToggleShow {
      display: flex;
  }
  
  .Navbar__Link--brand {
    width: 100px;
  }

  .Navbar__Link--toggle {
      height: $navHeight;
      line-height: $navHeight;
      padding: 0 $size-500;
      align-self: flex-end;
      display: initial;
      position: absolute;
      cursor: pointer;
  } 
}