$row-BgColor1: lightblue !default;
$row-BgColor2: white !default;
$row-BgColor3: palegoldenrod !default;
$row-BgColor4: lightgray !default;
$row-BgColor5: lightyellow !default;
$row-BgColor6: black !default;
$row-BgColor1: #add8ff;
$row-BgColor3: #ffefaa;
$row-BgColor5: #e4fcee;
.Rtable-row {
    display: flex;
    flex-wrap: wrap;
    background-color: $white;

    &--continue {
        border-top: .05em solid $gray-600;
    }

    &--month {
        background-color: $gray-400;
        margin-top: 1em;
        border-bottom: .1em solid $black;
        font-weight: 900;
        font-size: 1.2rem;
    }

    &--MG1 {
        background-color: $row-BgColor1;
    }

    &--MG2, &--MG4, &--MG6, &--MG8 {
        background-color: $row-BgColor2;
    }

    &--MG3 {
        background-color: $row-BgColor3;
    }

    &--MG5, &--MG7 {
        background-color: $row-BgColor5;
    }
    // & > .Rtable-cell:not(:nth-child(6n+4)):not(:nth-child(6n+5)):not(:nth-child(6n+6))  {
    //     background-color: $gray-200;
    // }

}

.Rtable-cell {
    flex: 0 1 100%;
    // min-width: 17em;
    padding: 0.3em 0.7em;
    overflow: hidden; // Or flex might break
    // border: solid 0.01em black;

    &--Ic1 {
        color: $row-BgColor1;
    }
    
    &--Ic2, &--Ic4, &--Ic6, &--Ic8 {
        color: $row-BgColor2;
    }
    
    &--Ic3 {
        color: $row-BgColor3;
    }

    &--Ic5, &--Ic7 {
        color: $row-BgColor5;
    }
    
    // &:first-child {
    //     flex: 1;
    // }

    &--DayNum {
        display: none;
    }

    &--Date {
        flex: 0 1 100%;
   
    }

    &--Match {
        flex: 0 1 100%; 
    }

    &--Venue {
        flex: 0 1 100%;   
    }

}
