$stockist-pad-t: 1em !default;
$stockist-pad-r: 1em !default;
$stockist-pad-b: 1em !default;
$stockist-pad-l: 1em !default;

.stockist {
  padding-top: $stockist-pad-r;
  padding-right: $stockist-pad-r;
  padding-bottom: $stockist-pad-b;
  padding-left: $stockist-pad-l;

  max-width: 206px;
  // margin: .2rem;
  border: 1px solid;
  background-color: $white;
  font-size: .9em;

  &__name {
    font-weight: 700;
  }

  // &--col-gap {
  //   @include child-col-gap(0, $v-size-300);
  // }

  & > * + * {
    margin-top: .3em;
  }
 
}
