$stockist-pad-t: 1em !default;
$stockist-pad-r: 1em !default;
$stockist-pad-b: 1em !default;
$stockist-pad-l: 1em !default;
$stockist-pad-l: 1em !default;
$stockist-fnt-sz: 1em !default;
$stockist-name-fnt-sz: 1.2em !default;

.stockist {
  max-width: 18em;
  padding-top: $stockist-pad-r;
  padding-right: $stockist-pad-r;
  padding-bottom: $stockist-pad-b;
  padding-left: $stockist-pad-l;

  border: 1px solid;
  background-color: $white;
  // font-size: $stockist-fnt-sz;

  &__name {
    font-size: $stockist-name-fnt-sz;
    font-weight: 700;
  }

  // &--col-gap {
  //   @include child-col-gap(0, $v-size-300);
  // }

  & > * + * {
    margin-top: .3em;
  }
 
}
